.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 60px 80px;
  background-color: #f8f9fb;
}

/* Left side */
.left {
  flex:1;
}

.left h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  color:black
}

.left span {
  color: #2a6df4;
}

.left p {
  margin: 20px 0;
  font-size: 18px;
  color: #555;
}

/* seperate styling for points */
.points {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}

/* seperate styling for button */
.button {
  padding: 12px 24px;
  background-color: #2a6df4;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Right side */
.right {
    flex:1;
    display: flex;
    justify-content: center;
}

.right img {
  max-width: 100%;
  height: auto;
  width: 400px;
}